name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    container: node:12

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      redis:
        image: redis
        ports:
        - 6379:6379
        options: --entrypoint redis-server
          
      postgres:
        image: postgres:10.12 # heroku version
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
        - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      # Downloads a copy of the code in your repository before running CI tests
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: v1-npm-deps-${{ hashFiles('**/package-lock.json') }}
          restore-keys: v1-npm-deps-

      - name: Install dependencies
        run: npm install

      # run linters
      # - name: Lint
      #   run: npm run lint

      # run tests!
      # - name: Test
      #   run: npm run test
      #   env: 
      #     NODE_ENV: test

      # cut a release
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release